header h1,
header img {
	display: inline-block;
}

#logo {
	vertical-align: -25%;
	width: 40px;
	height: 40px;
}

p {
	font-size: 26px;
  line-height: 1.04167;
  letter-spacing: .006em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial", sans-serif;
}

body {
	background-image:url(https://s-media-cache-ak0.pinimg.com/originals/d8/58/a6/d858a6010741446e9a173a81acae2b7b.jpg);
	background-size: cover;
}
